.wizard > .steps .current-info,
.wizard > .steps .number {
  display: none;
}

form {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form-header {
  text-align: center;
}

.form-header a {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
}

#wizard {
  border-radius: 10px;
  padding: 35px;
  position: relative;
  margin-top: 25px;
}

.wizard section h5 {
  font-size: 20px;
  padding-bottom: 18px;
  text-align: center;
}

.wizard > .steps ul {
  content: "";
  width: 80%;
  height: 12px;
  background: #c3c6d4;
  margin-top: 30px;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  top: -35px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wizard > .steps ul li a {
  display: none;
}

.wizard > .steps ul:before {
  content: "\f00c";
  position: absolute;
  font-size: 20px;
  font-family: 'icomoon' !important;
  bottom: 5px;
  left: 16%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 99;
}

.wizard > .steps ul:after {
  content: "";
  width: 20%;
  height: 12px;
  background: #e0446d;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wizard > .steps ul.step-2:before {
  left: 35%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wizard > .steps ul.step-2:after {
  width: 40%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wizard > .steps ul.step-3:before {
  left: 55%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wizard > .steps ul.step-3:after {
  width: 60%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wizard > .steps ul.step-4:before {
  left: 75%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wizard > .steps ul.step-4:after {
  width: 80%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wizard > .steps ul.step-5:before {
  left: 95%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wizard > .steps ul.step-5:after {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wreckmycar > .steps ul {
  content: "";
  width: 60%;
  height: 12px;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  top: -30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wreckmycar > .steps ul li a {
  display: none;
}

.wreckmycar > .steps ul:before {
  content: "\f00c";
  position: absolute;
  font-size: 20px;
  font-family: 'icomoon' !important;
  bottom: 5px;
  left: 40%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 99;
}

.wreckmycar > .steps ul:after {
  content: "";
  width: 45%;
  height: 12px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wreckmycar > .steps ul.step-2:before {
  left: 95%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wreckmycar > .steps ul.step-2:after {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.inpersonrow .card {
  min-height: 190px;
}

.threesteps > .steps ul {
  content: "";
  width: 60%;
  height: 12px;
  border-radius: 6px;
  position: absolute;
  left: 33.3%;
  top: -30px;
  -webkit-transform: translateX(-33.3%);
          transform: translateX(-33.3%);
}

.threesteps > .steps ul li a {
  display: none;
}

.threesteps > .steps ul:before {
  content: "\f00c";
  position: absolute;
  font-size: 20px;
  font-family: 'icomoon' !important;
  bottom: 5px;
  left: 26%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 99;
}

.threesteps > .steps ul:after {
  content: "";
  width: 30%;
  height: 12px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.threesteps > .steps ul.step-2:before {
  left: 62%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.threesteps > .steps ul.step-2:after {
  width: 66.6%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.threesteps > .steps ul.step-3:before {
  left: 95%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.threesteps > .steps ul.step-3:after {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-row:last-child {
  margin-bottom: 0;
}

.form-row .form-holder {
  width: 65.1%;
}

.form-holder {
  position: relative;
}

.form-holder i {
  position: absolute;
  bottom: 7px;
  right: 20px;
  font-size: 25px;
}

.actions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.actions li a {
  padding: 0;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  width: 180px;
  letter-spacing: 1.3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 34px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 27px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #0798bf;
}

.actions li a:before {
  content: "\f178";
  font-size: 18px;
  position: absolute;
  top: 7px;
  right: 34px;
  font-family: 'icomoon' !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.actions li a:hover:before {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.actions li[aria-disabled="true"] a {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.actions li:first-child a {
  width: 136px;
  padding-left: 57px;
}

.actions li:first-child a:before {
  content: "\f177";
  left: 32px;
  font-size: 18px;
}

.actions li:last-child a {
  width: 154px;
}

@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media (max-width: 1500px) {
  form {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .wrapper {
    height: auto;
  }
}

@media (max-width: 1199px) {
  .wrapper {
    height: 100vh;
    width: auto;
  }
  .image-holder {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .image-holder img {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  form {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 991px) {
  .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .image-holder {
    display: none;
  }
  form {
    width: auto;
  }
}

@media (max-width: 767px) {
  body {
    height: auto;
  }
  .wrapper {
    height: auto;
    padding: 30px 20px;
  }
  #wizard {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: none;
  }
  form,
  #wizard {
    padding: 0;
  }
  h3 {
    margin-bottom: 30px;
  }
  .form-row {
    display: block;
  }
  .form-row label {
    margin-bottom: 29px;
    display: block;
  }
  .form-row label,
  .form-row .form-holder {
    width: 100%;
  }
  .checkbox-circle {
    display: block;
  }
  .wizard > .steps {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .wizard > .steps ul {
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
  }
  .actions ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 0;
  }
  .actions li a {
    height: 44px;
  }
  .actions li a:before {
    top: 13px;
  }
  .actions li:first-child a {
    margin-bottom: 20px;
  }
}

#showreply {
  display: none;
}
/*# sourceMappingURL=steps.css.map */