@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap&subset=cyrillic,hebrew,latin-ext');

body {

    ul,
    li {
        list-style: none;
        padding: 0;
    }

    @include sitefont;

    .flight {
        font-weight: 300;
    }

    .fnormal {
        font-weight: $fweight;
    }

    .fsbold {
        font-weight: 500;
    }

    .fbold {
        font-weight: 700;
    }

    .brdlink {
        border-radius: 30px;
        border: 1px solid $white;
        @include transition;
        display:inline-block;
        padding: 8px 15px;
        background:$white;
        color:$scolor;
    }

    .pinkbtn {
        background: $scolor;
        border-radius: 30px;
        color: $white !important;
    }
    button.pinkbtn{
        border:none;

        &:focus{
            border:none;
            outline:none;
        }
    }

    .pinkbtnlg {
        background: $scolor;
        border-radius: 30px;
        padding: 10px 25px;
        margin-top: 20px;
        color: $white !important;
        border: none;
        height: 35px;
        line-height: 16px;

        &:hover {
            background: darken($scolor, 5%);
            @include shadowbot;
        }
    }

    .bluebtnlg {
        background: $pcolor;
        border-radius: 30px;
        padding: 10px 25px;
        margin-top: 20px;
        color: $white !important;
        border: none;
        height: 35px;
        line-height: 16px;

        &:hover {
            background: darken($pcolor, 5%);
            @include shadowbot;
        }
    }

    .whitebtn {
        background: $white;
        border-radius: 30px;
        padding: 10px 25px;
        color: $pcolor !important;
        border: 1px solid $pcolor;
        height: 35px;
        line-height: 15px;

        &:hover {
            background: darken($pcolor, 5%);
            color: $white !important;
        }
    }


    .fpink {
        color: $scolor;
    }

    .fblue {
        color: $pcolor !important;
    }

    .fgray {
        color: $gray;
    }

    .fwhite {
        color: $white;
    }

    .fblack {
        color: $black;
    }

    a.fblack {
        &:hover {
            color: $pcolor;
        }
    }

    .fgreen {
        color: $green;
    }

    .flgray {
        color: lighten($gray, 35%);
    }

    .bgflgray {
        background: $lightgray;
    }

    .fred {
        color: red;
    }

    a.fpink {
        &:hover {
            color: $pcolor;
        }
    }

    //social
    .socialbtn {
        padding: 6px 15px;
        color: $white;
        text-align: center;
        width: 48%;
        border: 1px solid transparent;
    }

    .fbbtn {
        background: #3b558b;

        &:hover {
            border: 1px solid #3b558b;
            color: #3b558b !important;
            background: none;
        }
    }

    .googlesocial {
        background: #ea634e;

        &:hover {
            border: 1px solid #ea634e;
            color: #ea634e !important;
            background: none;
        }
    }
}

.input-form{
    height:50px;
    border:1px solid lighten($gray, 25%);

    input[type="text"]{
        border:none;
        height:47px;
        width:75%;
        padding:0 10px;
    }
    input[type="submit"]{
        height:50px;
        width:25%;
        background:$scolor;
        color:$white;
        border:none;
    }
}

.iconedit {
    position: absolute;
    top: 10px;
    right: -40px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba($gray, $alpha: 0.6);
    display: inline-block;
    text-align: center;
    line-height: 47px;

    .icomoon {
        color: $white;
    }

    &:hover {
        background: rgba($gray, $alpha: 1);
    }
}

a {
    @include transition;

    &:hover {
        text-decoration: none;
    }
}

.small {
    font-size: $fsize - 3;
}

.home-section {
    padding: 30px 0;
}

.whitebox {
    background: $white;
    padding: 20px;
}

.dropdown-menu-arrow {
    top: -25px;
    left: 25%;
    width: 0;
    height: 0;
    position: relative;

    @include mob {
        display: none;
    }
}

.dropdown-menu-arrow:before,
.dropdown-menu-arrow:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-width: 7px 8px;
    border-style: solid;
    border-color: transparent;
    z-index: 1001;
}

.dropdown-menu-arrow:after {
    bottom: -18px;
    right: -8px;
    border-bottom-color: #fff;
}

.dropdown-menu-arrow:before {
    bottom: -17px;
    right: -8px;
    border-bottom-color: rgba(0, 0, 0, .15);
}

.innerheader {
    header {
        @extend .fixed-theme;
    }

    .subpage {
        padding-top: 66px;
    }
}

.fixed-theme {
    background: $white !important;
    @include shadowbot;
    padding: 5px 0;

    .navbar-brand {
        padding: 0;       
        margin-top: 10px;

        .icon-logo {           
            color: $pcolor;
        }
    }

    .wsmenu-list{
        .wsshopmyaccount { 

           a{
            color: $gray!important;  
           }
        }
        .navtext{
            span{
                color:$gray!important;
            }            
        }
    
    }

   
    .pinkbtn {
        color: $white;
    }

    .pinkbtn {
        &:hover {
            background: $pcolor;
            color: $white;
        }
    }

    .brdlink {
        color: $pcolor;
        border-color: $pcolor;

        &:hover {
            background: $pcolor;
            color: $white;
        }
    }
}

//header 
header {
    padding: 12px 0;

    .navbar-brand {  

        .icon-logo {
            font-size: $fsize * 2;
            color: $white;

            @include mob{
                font-size:$fsize + 10!important;
            }
        }
    }


    .cart{
        position:relative;

        &:hover{
            .value{
                color:$white;
            }
        }

        .icomoon{
            font-size:$fsize + 3;
        }

        .value{
            width:20px;
            height:20px;
            border-radius:50%;
            background:$scolor;
            position: absolute;
            top:0px;
            right:0px;
            font-size:$fsize - 3;
            text-align:center;
            display:inline-block;
            line-height:20px;
            color:$white;

            @include mob{
                top:15px;
                right:15px;
            }
        }
    }

    .nav-link {
        color: $white;
        font-size: $fsize - 1;
        padding-left: 15px !important;
        padding-right: 15px !important;

        &:hover {
            color: $scolor;
        }
    }

   
    .dropdown {
        .dropdown-menu {
            top: 35px;

            .drop-in {
                width: 400px;
                display: flex;
                flex-wrap: wrap;
            }

            .dropdown-item {
                font-size: $fsize - 2;              

                &:hover {
                    background: $scolor;
                    color: $white;
                }
            }
        }
    }

    .brdlink {
        &:hover {
            background: $white;
            color: $pcolor;
        }
    }

    .pinkbtn {
        &:hover {
            background: $white;
            color: $scolor !important;
        }
    }

    .navbar-toggler {
        .icomoon {
            color: $white;
        }
    }

    .options-categories {
        padding: 15px;

        button {
            border: none;
        }

        .select-btn {
            border: 1px solid $black;
            color: $black !important;
            background: none;
        }

    }
}

//dropdown menu

.mega-dropdown { position: static !important; }
.mega-dropdown-menu {
  padding: 20px 15px 15px;
  text-align: center;
  width: 100%;
  height:500px;
  overflow-y: auto;

  .dropdown-menu-arrow{
      top:-38px;
      left:-73%;
      right:inherit;
  }

  .tab {
    float: left;   
    background-color: #fff;
    width: 25%;
    height: 300px;

    a{
        display: block;       
        color: black;
        padding:7px 15px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        position:relative;
        font-size:$fsize - 1;

        &:after{
            content: "\f0da";
            font-family: 'icomoon' !important;
            position:absolute;
            right:15px;
            top:3px;
            font-size:$fsize;        
        }

        &:hover{
            background-color: #ddd;
        }
        .active{
            background-color: #ccc;
        }
    }
  }

  .tabcontent {
    float: left;
    padding:0 15px;  
    width: 75%;
    border-left: none;
    height: 300px;
    display: none;
    text-align:left;   

    .sub-category{
        padding:5px 0;
        h6{
            font-size:$fsize;
            @extend .fblue;
        }
        a{
            font-size:$fsize;
            @extend .flight;    
            color:$black;    
            padding:4px 0;
            display:inline-block;
            
            &:hover{
                color:$scolor;
            }
        }
    }
  }
}

//drop down menuj ends 

//header ends 

main {
    min-height: 750px;
}



.homeslider {
    background: url(../img/homepage-banner.jpg)no-repeat center center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;

    &:before {
        content: '';
        @include absoluteall;
        background: $black;
        opacity: 0.3;
    }

    @include mob {
        background: url(../img/homepage-banner.jpg)no-repeat -770px -60px;
    }

    @include tab{
        height:75vh;
    }



    .h1 {
        font-size: $fsize * 3;
        color: $white;

        @include mob {
            font-size: $fsize * 2;
        }
    }

    p {
        font-size: $fsize + 10;
        color: $white;
        @extend .flight;

        @include mob {
            font-size: $fsize + 5;
        }
    }

    a {
        display: inline-block;
        @extend .pinkbtnlg;
    }
}


//slider ends 

//highlets
.highlights{
    @include pinkgradiant;
    padding:15px 0;

    .highletcol{
        @include mob{
            padding-top:10px;
            padding-bottom:10px;
            
        }
    }

    .highlets-icon{
        width:65px;
        text-align:center;

        .icomoon{
            font-size:$fsize * 3;
            color:$white;
        }
    }

  

    article{
        color:$white;
        padding-left:20px;

        h5{
            font-size:$fsize + 5;
           @extend .fsbold;

           @include mob{
               margin-bottom:0;
           }
            
        }
    }
}
//highlets ends 

.categories-in {

    @include mob {
        overflow-x: auto;
    }

    @include mscape {
        overflow-x: auto;
    }

    @include tab {
        overflow-x: auto;
    }


    .cat-col-home {
        margin: 0 5px;
        width: 120px;
        text-align: center;

        .icomoon {
            width: 100px;
            height: 100px;
            background: $gray;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            font-size: $fsize * 2 + 5;
            color: $white;
            line-height: 100px;
            @include transition;

        }

        .text {
            display: block;
            color: $black;
            padding: 10px 0;
            font-size: $fsize - 1;
            text-align: center;
        }

        &:hover {
            .icomoon {
                background: $pcolor;
            }

            .text {
                color: $pcolor;
            }
        }
    }

}

.customtab {
    padding: 25px 0;
}

.other-getdone {
    a {
        color: $black;
        cursor: pointer;
        display: block;
    }

    .card {
        margin-bottom: 10px;
        min-height: 160px;
        position:relative;
        @include transition;

        .img-fluid{
            width:100%;
        }

        &:hover{
            transform: rotateY(-180deg);

            .card-header, .card-body, .card-footer{
                opacity:0;
            }
           
            .cardHover{
                transform: rotateY(180deg);
                width:100%;
                opacity:1;
            }
        }

        .card-header {
            background: none;
            padding:0;
            border:none;

            .h6 {
                margin-bottom: 0;
                font-size: $fsize - 1;
                padding:15px 15px 0 15px;
                line-height:20px;                
            }
        }

        .card-body{
            .ratespan{
            background:$pcolor;
            padding:0 5px;
            border-radius:5px;
            display:inline-block;
            color:$white!important;
            margin-right:3px;
            }
        }

        .card-footer {
            background: none;

            .like{
               .icomoon{
                   font-size:$fsize + 5;
                   color:$gray;
               } 

               &:hover{
                   .icomoon{
                       color:$scolor;
                   }
               }
            }
        }

        .card-body {
            padding:5px 15px;

            small{
                color:$gray;
            }
            .thumb {
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                p {
                    font-size: $fsize - 2;
                }
            }
        }

        //hover section
        .cardHover{
            background:$lightgray;
            @include absoluteall;
            padding:15px; 
            @include transition;           
            opacity:0;   
            transform: rotateY(180deg);         
        }

       

    }
}

.icon-inr.icomoon{
    position:relative;
    top:2px;
}

.oldprice{
    padding-right:10px;
    display:inline-block;
    text-decoration:line-through;
}

.videoimg {
    a.playicon {
        top: 50%;
        left: 50%;
        margin-top: -30px;
        margin-left: -30px;
        background: $pcolor;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        text-align: center;
        line-height: 88px;

        .icomoon {
            font-size: $fsize * 2;
            color: $white;
        }

        &:hover {
            background: $white;
            @include shadowbot;

            .icomoon {
                color: $pcolor;
            }
        }
    }
}

.howitcol {
    img {
        width: 120px;
        margin-right: 10px;
    }

    p {
        font-size: $fsize - 1;
    }
}

.nobg{
    background:none;
}

.card-footer{
    background:none;

    .brdlink{
        border-color:$gray;
    }
}

.freetests{
    .card{       
        margin:0 10px;
        @include transition;
       

        .h6{
            padding-top:25px;
        }

        &:hover{
            @include shadowbot;
            border:1px solid $black;
        }
    }  
    .card-footer{
        background:none;

        a{
            border:1px solid $gray; 
            width:100%;
            color:$black;
            text-align:center;
        }
    } 
}

.cat-detail{
    @include mob{
       .nav-link{
           color:$white!important;
       } 
    }
}

h2{
    font-size:$fsize + 10;
}

.taskers-home {

    .tasker-item {
        background: $white;
        min-height: 300px;

        margin: 0 5px;


        .tasker-fig {
            width: 125px;
            margin: 0 auto;
            border-radius: 50%;
            padding: 5px;
            @include shadowbot;
        }

        .h5 {
            font-size: $fsize + 2;
        }
    }

    .card {
        .card-footer {
            background: none;
        }
    }
}

.custom-slick {
    .slick-arrow {
        height: 1px;
        text-indent: -100000px;
        border: none;
        background: none;
        display: none;

        &:focus {
            outline: none;
        }
    }

    .slick-prev {
        &:before {
            content: "\f104";
            font-family: 'icomoon' !important;
            top: -25px;
            position: absolute;
            right: 50px;
            font-size: 20px;
            color: $gray;
            background: $white;
            width: 45px;
            text-align: center;
            height: 36px;
            line-height: 33px;
            text-indent: 0;
            @include transition;

            @include mob {
                top: -17px;
                z-index: 99;
            }
        }

        &:hover {
            &:before {
                content: "\f104";
                background: $pcolor;
                color: $white;
                border: 1px solid $pcolor;
            }
        }
    }

    .slick-next {
        &:before {
            content: "\f105";
            font-family: 'icomoon' !important;
            top: -25px;
            position: absolute;
            right: 0;
            font-size: 20px;
            color: $gray;
            background: $white;
            width: 45px;
            text-align: center;
            height: 36px;
            line-height: 33px;
            text-indent: 0;
            @include transition;

            @include mob {
                top: -17px;
                z-index: 99;
            }
        }

        &:hover {
            &:before {
                content: "\f105";
                background: $pcolor;
                color: $white;
                border: 1px solid $pcolor;
            }
        }
    }
}

.feature-col {
    img {
        width: 100px;
        border-radius: 50%;
        padding: 5px;
        @include shadowbot;
        margin-bottom: 10px;
    }

    .h5 {
        padding: 5px 0;
    }
}

.right-user-panel {
    .socialcol {
        a {
            line-height: 48px;
        }
    }
}

.socialcol {
    @include mob{
        text-align:center;
    }
    a {
        width: 40px;
        height: 40px;
        background: darken($gray, 10%);
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        display: inline-block;

        .icomoon {
            color: $lightgray;
            font-size: $fsize + 5;
        }

        &:hover {
            background: $scolor;
        }
    }
}

footer {
    background-color:darken($pcolor, 15%);
    padding-top: 20px;

    .h5 {
        color: $white;
    }

    a {
        color: lighten($gray, 35%);
        font-size: $fsize - 2;
        padding: 5px 0;
        display: inline-block;

        &:hover {
            color: $white;
        }
    }

    .bottom-footer {
        background: darken($gray, 25%);
        padding: 20px 0;



        .rightcol {
            p {
                color: $lightgray;
                text-align: right;

                @include mob{
                    padding:10px 0;
                    text-align:center;
                }
            }
        }
    }

    .movetop {
        position: fixed;
        bottom: 15px;
        right: 15px;
        width: 35px;
        height: 35px;
        background: $scolor;
        text-align: center;
        line-height: 30px;
        display: none;
        border-radius: 5px;

        .icomoon {
            font-size: $fsize + 2;
            color: $white;
        }
    }
}

.sub-main {
    .sub-header {
        background: url(../img/subpage-headerbg.jpg)no-repeat 0 center;
        background-size: cover;
        min-height: 250px;
        padding-top: 120px;
        margin-bottom: 50px;
    }
}



.custom-form {
    label {
        font-size: $fsize - 2;
        padding-bottom: 0;
        margin-bottom: 3px;
    }

    .form-control {
        height: 45px;
        border-radius: 5px;
        border: 1px solid #ced4da !important;
        border-radius: 0;
        font-size: $fsize;
    }

    .date {
        padding: 0 10px;
    }

    .gj-datepicker-md {
        .gj-icon {
            color: $gray;
            top: 10px;
            right: 10px;
        }
    }

    ::placeholder {
        font-size: $fsize - 2;
        color: lighten($gray, 40%);
    }

    .pinkbtn {
        font-size: $fsize + 2;
        @include transition;
        padding: 10px 0;
        border: none;

        &:hover {
            @include shadowbot;
        }
    }
}


.bluebg {
    background: $pcolor;
    color: $white;
}


.stepbody {
    min-height: 450px;
    padding: 30px;

    .bluebg {
        background: $pcolor;
        color: $white;
    }
}

.course-detailnav{
    @include mob{
        .navbar-toggler{
            background:$lightgray;

            .navbar-toggler-icon{
                color:$gray;
            }
        }
    }
}

.subpage {
    .page-header {
        background: url(../img/subpage-headerbg.jpg)no-repeat 0 0;
        background-size: cover;
        min-height:350px;

        @include mob{
            min-height:250px;
           
        }

        .container{
            padding-top:100px;
            padding-left:30px;
            color:$white;

            .breadcrumb{
                background:none;
                padding-bottom:0;
                margin-bottom:0;
                padding-left:0;

                li{
                   a{
                    color:$white;
                   }
                }
                .active{
                    color:$scolor;
                }
            }
            h1{
                font-size:$fsize * 2 + 3;
                color:$white;
                @extend .fbold;
            }
            p{
                color:$white;
            }
        }        
    }

    //sub page body 
    .page-body{
        padding:25px 0;
    }
}

.fixed {
    position: fixed;
    top: 70px;
}


//sub page 

section{
    height:80vh;
}

.section-col{
    padding:25px 0;
}

.scrollnav{
    border-bottom:1px solid $gray;
    width:100%;
    display:block;
    margin-bottom:10px;
    background:$white; 
    z-index: 999;

    a{
        color:$black;
        border-bottom:2px solid transparent;

        &:hover{
            border-bottom:2px solid $scolor;
        }
    }
}


.subpage {
    min-height: 500px;   

    p {
        text-align: justify;
        padding-bottom: 15px;
    }

    .task-nav {
        background: $white;

        @include shadowbot;

        .nav-link {
            opacity: 1;
            color: $pcolor;
            font-size: $fsize - 1;
        }

        .dropdown-menu {
            min-width: 360px;
        }
    }
}

.round-input {
    border-radius: 20px;
}

::placeholder {
    font-size: $fsize - 2;
    color: lighten($gray, 25%);
}


.search-tasker {
    .icomoon {
        font-size: $fsize + 5;
        color: lighten($gray, 25%);
        position: relative;
    }

    .round-input {
        padding-right: 40px;
        position: relative;
        right: -52px;
    }
}

.task-custom {
    .small-title {
        font-size: $fsize - 2;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    button {
        @extend .pinkbtnlg;
        height: 35px;
        line-height: 8px;
        font-size: $fsize - 1;
        border: none;
    }
}




.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $pcolor;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.taskrow {
    padding-top: 25px;
}



.left-task {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 0;

    .expired-request {
        opacity: 0.6;
        cursor: inherit !important;

        &:hover {
            box-shadow: none !important;
        }
    }

    //request col 
    .request-col {
        background: $white;
        padding: 10px;
        min-height: 100px;
        cursor: pointer;
        @include transition;
        width: 100%;
        border: 1px solid lighten($gray, 50%);

        &:hover {
            @include shadowbot;
        }


        h2 {
            font-size: $fsize + 2;
            font-weight: normal;
            margin-bottom: 0;

            .price {
                text-align: right;
                color: $pcolor;
                width: 70px;
            }
        }

        .address-block {
            p {
                color: $black;
                font-size: $fsize - 2;
                line-height: 20px;
                text-align: left;
                padding-bottom: 0;
            }

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                float: right;
            }
        }

        .datesel {
            font-size: $fsize - 2;
        }
    }

    //request call ends       

    .requestactive {
        @include shadowbot;
    }
}

.map {
    height: 100vh;

    iframe {
        height: 100vh;
    }
}



//task detailk styles 

.task-detail {
    height: 100vh;
    overflow-y: auto;

    .status {
        span {
            @extend .fgray;
            @extend .fbold;
            text-transform: uppercase;
            padding: 2px 20px;
            display: inline-block;
            font-size: $fsize - 2;
        }

        span.active {
            color: $scolor;
            background: lighten($scolor, 37%);
            border-radius: 15px;
        }
    }

    .task-title {
        padding: 20px 0;
    }

    .list-group {
        .list-group-item {
            border: none;
            border-bottom: 1px solid lighten($gray, 55%);
            margin: 0;

            .icomoon {
                font-size: $fsize + 6;
                @extend .flgray;
            }
        }
    }

    .primaryrt {
        .primary-details-rt {
            border: 1px solid lighten($gray, 30%);
            padding: 15px;
            border-radius: 10px;

            button {
                @extend .bluebtnlg;
                border: none;
            }
        }



        .dropdown-menu {

            .dropdown-item {
                font-size: $fsize - 2 !important;
            }
        }

        .share-task {
            a {
                font-size: $fsize;
                color: $gray;
                font-size: $fsize + 10;
                opacity: 0.4;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

#more {
    display: none;
}

.offer-list-item {
    padding: 10px 0;
}

.question {
    margin: 15px 0;

    p {
        font-size: $fsize - 1;
    }
}





//task detail 

.sm-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.md-thumb {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}

.row-offers {
    padding-top: 50px;
}

.rating-tasker {
    overflow: hidden;

    li {
        float: left;
        padding-right: 2px;

        .icomoon {
            color: $scolor;
            font-size: $fsize - 1;
        }
    }
    li.whiteicon{
        .icomoon{
            color:$white;
        }
    }
    li.blackicon{
        .icomoon{
            color:$gray;
        }
    }
}

.tasker-desc {
    background: lighten($gray, 55%);
    padding: 15px;

    p {
        font-size: $fsize - 1;
    }
}

.howit-primary {
    background-image: linear-gradient(-179deg, #11c9e1 25%, #0798bf);
    background-position: 50% 50%;
    background-size: cover;
    color: $white;
    min-height: 250px;
    padding: 50px 0;
}

.howitrow {
    padding: 75px 0;

    img {
        height: 350px;
    }

    .icomoon {
        font-size: $fsize * 4;
        color: $white;
    }
}

.posturtask-blocks {
    padding: 75px 0;
}

.taskers-category-row {
    padding: 25px 0;

    .tasker-cat-col {
        position: relative;
        @include transition;

        img {
            width: 100%;
        }

        .title-cat {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255, 255, 255, 0.8);
            padding: 10px;
            width: 100%;
            display: inline-block;
            color: $pcolor;
        }

        &:hover {
            @include shadowbot;
        }
    }
}

.features-lara {
    background-image: linear-gradient(-179deg, #11c9e1 25%, #0798bf);
    min-height: 200px;
}

.col-how {
    color: $white;
}

.roundimg {
    margin-top: -125px;
}

.last-features {
    padding: 50px 0;

    .icomoon {
        font-size: $fsize * 3;
    }
}

.card-category {
    color: $black;
    width: 85%;
}

.title-row {
    padding: 25px 0;
}

.duelcol {
    padding-bottom: 25px;
}

.poster-header {
    background: url(../img/poster-bg.png)repeat 0 0;
    padding: 150px 0;
}

.category-headerin {
    @extend .whitebox;
    @include shadowcenter;

    .form-control {
        height: 55px;

        font-size: $fsize;
    }
}

.taskers-best {
    margin-top: -100px;
}

.taskercol {
    .card {
        min-height: 350px;
        margin-bottom: 15px;

        .card-header {
            background: none;

            a {
                color: $black;
            }

            .icomoon {
                font-size: $fsize - 3;
                color: $pcolor;
            }
        }

        .card-body {
            min-height: 280px;

            .rev {
                font-size: $fsize - 1;
                text-align: left;
                color: $gray;
            }

            .h6 {
                font-size: $fsize - 2;
                letter-spacing: 2px;
                color: lighten($gray, 30%);
            }

            .badge {
                background: lighten($gray, 55%);
                width: 40px;
                height: 40px;
                border-radius: 50%;
                line-height: 44px;

                .icomoon {
                    font-size: $fsize + 5;
                    color: lighten($gray, 20%);
                }
            }
        }

        .card-footer {
            padding: 15px 0;
            background: none;
        }
    }
}

.cust-accord {   

    h1 {
        border-bottom: 1px solid #ececec;
        font-weight: 300;
        margin-bottom: 2em;
        padding-bottom: 1em;
        text-align: center;
    }

    h1 span {
        display: block;
        font-size: .5em;
    }

    a {
        border-bottom: 1px solid #ec407a;
        color: #607d8b;
        text-decoration: none;
    }

    a:hover,
    a:focus {
        color: #ec407a;
        border-bottom: none;
    }

    h3 {
        font-weight: 500;

        @include mob{
            margin-bottom:0;
        }
    }

    .intro {
        font-size: 1.25em;
    }

    .js .panel-title {
        margin: 0;
    }

    .panel-title a {       
        color: #292929;
        display: block;
        padding: 15px 0;
        position: relative;
        text-decoration: none;
        -webkit-transition: color 200ms ease 0s;
        -moz-transition: color 200ms ease 0s;
        transition: color 200ms ease 0s;
        width: 100%;
        font-size: $fsize + 2;
        border-bottom:1px solid $lightgray;
    }

    .panel-title a .icon {
        color: #9e9e9e;
        position: absolute;
        right: 0;
        -webkit-transition: all 200ms ease 0s;
        -moz-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
    }

    .panel-title a:hover,
    .panel-title a:focus {
        color: #37474f;
    }

    .panel-title a:hover .icon,
    .panel-title a:focus .icon {
        color: #ec407a;
    }

    .panel-title a.active {
        color: #37474f;
    }

    .panel-title a.active .icon {
        color: #ec407a;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .js .accordion {
        border-bottom: 1px solid #ececec;
        margin: 2em 0;
    }

    .accordion .panel-title a {
        border-top: 1px solid #ececec;
    }

    [id^="panel-"] {
        padding-bottom: 2em;
    }
}

.recent-tasks {
    p {
        font-size: $fsize - 2;
    }
}

.user-title-nav {
    .h6 {
        font-size: $fsize - 2;
        color: $black;
    }
}

.userdropdown {

    .dropdown-toggle {
        position: relative;
        right: -15px;

        &:after {
            content: '';
            display: none;
        }
    }

    .dropdown-menu {
        top: 45px !important;
        right: 0;
        left: inherit;

        .dropdown-menu-arrow {
            left: 83%;
        }

        .dropdown-item {
            width: 100% !important;
            padding: 10px;
        }
    }
}

.rowp{
    border-bottom:1px dotted $gray;
    padding:8px 0;
}


.usersubpage {
    .container {
        background: $white;
        @include shadowbot;
        padding-bottom: 25px;

        //left 

        .leftnavigation {
            border-right: 1px solid lighten($gray, 50%);
        }

        .user-leftnav {
            padding-top: 25px;

            @include mob{
                display:none;
            }

            height: 100vh;
            padding-right: 20px;

            .profile-pic {
                text-align: center;
                padding-bottom: 20px;

                a {
                    color: $black;
                    color: $gray;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                figure {
                    position: relative;
                    width: 100px;
                    height: 100px;
                    margin: 10px auto;

                    &:hover {
                        .icomoon {
                            opacity: 1;
                        }
                    }

                    .icomoon {
                        padding: 10px;
                        background: rgba($pcolor, $alpha: 0.8);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        color: $white;
                        border-radius: 50%;
                        margin-top: -18px;
                        margin-left: -18px;
                        opacity: 0;
                        @include transition;

                    }

                    .md-thumb {
                        width: 100px;
                        height: 100px;
                    }
                }

            }

            .profile-nav {

                .nav-link {
                    position: relative;
                    padding: 10px 15px;


                    &:hover {
                        background: $pcolor;
                        color: $white;
                    }
                }

                .nav-link[data-toggle].collapsed:after {
                    content: " ▾";
                    position: absolute;
                    right: 0;
                }

                .nav-link[data-toggle]:not(.collapsed):after {
                    content: " ▴";
                    position: absolute;
                    right: 0;
                }

                a {
                    color: $gray;
                }
            }
        }

        //left ends 

        //right starts
        .right-user-panel {
            padding-top: 20px;

            .title-page {
                border-bottom: 1px solid lighten($gray, 50%);
                padding-bottom: 15px;
                margin-bottom: 20px;
                color: $scolor;
            }

            .categories-in {
                flex-wrap: wrap;

                .cat-col-home {
                    padding-bottom: 20px;

                    .icomoon {
                        width: 80px;
                        height: 80px;
                        font-size: $fsize * 2;
                        line-height: 80px;
                    }
                }
            }

            .summary-div {
                border-top: 3px solid $gray;

                a {
                    color: $black;
                }
            }
        }

        //right ends 
    }
}

.custom-list-group {
    .list-group-item {
        color: $gray;
        font-size: $fsize - 1;

        &:before {
            content: "\f0a1";
            font-family: 'icomoon' !important;
            padding-right: 10px;
        }
    }
}

span.seperator{
    padding:0 10px;
    display:inline-block;
}

.links{
    a{
        color:$gray;
        padding-right:10px;
        display:inline-block;

        &:hover{
            color:$scolor;
        }
    }
}

.list-item{
    padding:10px 0;
    li{
        color: $gray;
        font-size: $fsize - 1;
        padding-bottom:5px;
    
        &:before {
            content: "\f046";
            font-family: 'icomoon' !important;
            padding-right: 10px;
            color:$scolor;
        }
    }
}

.custom-tab {
    padding-top: 10px;

    .nav-link.active {
        background: $scolor;
    }

    .nav-link {
        color: $black;
    }
}

.list-notify {
    .list-group-item {
        font-size: $fsize - 1;

        .list-img {
            width: 18px;
        }
    }
}

.datepicker {
    border: 1px solid #ccc !important;
    padding: 0 8px !important;
}

.datepickergroup {
    .gj-icon {
        top: 7px !important;
        right: 10px !important;
        color: $gray;
    }
}

.copylink {
    input {
        height: 40px;
        border: 1px dashed $pcolor;
        width: 70%;
        border-radius: 20px;
    }
}

.sharerow {
    background: $lightgray;
}

.howrow {
    padding: 25px 0;

    &:before {
        content: '';
        width: 100%;
        height: 1px;
        background: $lightgray;
        top: 20px;
        position: relative;
        margin: 0 15%;
    }
}

.how-col {
    .number {
        width: 40px;
        height: 40px;
        background: $lightgray;
        border-radius: 50%;
        display: inline-block;
        line-height: 40px;

    }
}

.status-bar {
    margin-bottom: 50px;

    .bar {
        background: $lightgray;
        height: 10px;
        border-radius: 5px;
        width: 100%;

        .barin {
            background: $green;
            height: 10px;
            border-radius: 5px;
        }
    }
}

.upload-avatar {
    .avatar-thumb {
        width: 60px;
    }

    .inputfile {
        .pinkbtn {
            color: $white;
            font-size: $fsize - 2;
        }
    }
}

.profile-headerbg {
    margin: 20px 0;

    a {
        color: $black;
        background: rgba(255, 255, 255, 0.6);
        text-align: center;
        display: block;
        padding: 5px;
        margin-top: -30px;
        position: relative;
        border-radius: 10px;

        &:hover {
            background: rgba(255, 255, 255, 0.9);
        }
    }
}


/*
 * bootstrap-tagsinput v0.8.0
 * 
 */

.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    width: 100%;
    line-height: 22px;
    cursor: text;
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;

}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
    color: #777;
    opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
    color: #777;
}

.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
    color: #777;
}

.bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
}

.bootstrap-tagsinput .badge {
    margin: 2px;
    padding: 5px 8px;
}

.bootstrap-tagsinput .badge [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}

.bootstrap-tagsinput .badge [data-role="remove"]:after {
    content: "×";
    padding: 0px 4px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    font-size: 13px
}

.bootstrap-tagsinput .badge [data-role="remove"]:hover:after {

    background-color: rgba(0, 0, 0, 0.62);
}

.bootstrap-tagsinput .badge [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

.badges-row {
    padding: 20px 0;
}

.badge-col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    article {
        padding: 0 15px;

        .h6 {
            padding-bottom: 3px;
            margin-bottom: 0;
        }

        p {
            text-align: left;
        }
    }
}

.graybox {
    background: $lightgray;   
    margin: 10px 0;
    @include shadowbot;
    min-height:50px;

    .h6 {
        font-size: $fsize;
    }
}

.post-task {
    .modal-header {
        border: none;
        padding: 20px 0 0 0;

        .close {
            position: relative;
            top: 12px;
            right: 12px;
        }
    }
}

.profile-body {
    padding: 20px;
    margin-top: -110px;
}

.profile-banner {
    position: relative;

    .edit-profile-icon {
        @extend .iconedit;
        right: -24px;
    }


}

.main-profilerow {
    @include shadowbot;
}

.profile-thumb {
    position: relative;
    width: 128px;

    img {
        width: 128px;
        border-radius: 50%;
        border: 5px solid #fff;
    }

    .image-upload {
        display: none;

        .fileinput {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -25px;
            margin-left: -25px;
        }
    }
}

.right-profile-section {
    min-height: 100px;
    padding-bottom: 25px;
    position: relative;

    .static-data {
        .edit-profile-icon {
            @extend .iconedit;
        }
    }
}


.profile-banner {
    .inputfile {
        position: absolute;
        right: 50px;
        top: 20px;
        font-size: $fsize - 3;
    }

    .image-upload {
        display: none;
    }

}


.image-upload {
    .file-input-wrapper {
        display: none;
    }

    input {
        display: none;
    }

    .fileinput {
        @extend .iconedit;
        right: 50px;
        cursor: pointer;
    }
}

#edit-profile-basic {
    display: none;
}

#edit-description {
    display: none;
}

#dynamic-data-portfolio {
    display: none;
}

.figure-portfolio {
    .upload-figure {
        width: 150px;
        height: 135px;

        .fileinput {
            margin-top: 25px;
            line-height: 55px;

            .icomoon {
                font-size: $fsize + 10;
            }
        }

    }

    .figure-portfolio-img {
        width: 150px;
        height: 150px;
        @include object-fit-cover;
        position: relative
    }

    .delete-img {
        background: rgba($pcolor, $alpha: 0.8);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
        line-height: 35px;

        .icomoon {
            font-size: $fsize + 3;
            color: $white;
        }
    }

}





.tags {
    .label {
        padding: 8px 15px;
        border-radius: 20px;
        background: $lightgray;
        color: $black;
        display: inline-block;
    }
}

#edit-skills-dynamic {
    display: none;
}

.blog-col {
    @include shadowcenter;
    min-height: 320px;
    cursor: pointer;
    margin-bottom: 25px;

    img {
        @include transition;

        &:hover {
            opacity: 0.6;
        }
    }

    article {
        padding: 15px 10px;

        .h5 {
            font-weight: normal;
            color: $gray;
        }

        p {
            text-align: left;
            color: $gray;
            padding-top: 5px;
        }

        .author {
            font-size: $fsize - 1;
            color: lighten($gray, 25%);
        }
    }
}


#movejobs {
    scroll-behavior: smooth;
}

#page-wrap {
    padding-top: 75px;
    margin: 1rem auto;
    padding: 1rem;
}

.jobs-row {
    .jobs-list {
        li {
            margin-bottom: 5px;

            a.scrollTo {
                background: lighten($gray, 50%);
                display: block;
                color: $black;
                padding: 8px 12px;
                font-size: $fsize - 1;

                &:hover {
                    background: $pcolor;
                    color: $white;
                }
            }
        }
    }
}

.jobs-links {
    padding: 15px 0 0 0;

    a {
        color: $pcolor;
        display: inline-block;
        padding: 5px;
    }
}

.rt-job {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.help-header {
    background: url(../img/help-header-bg.png)no-repeat center center;
    background-size: cover;
    min-height: 500px;
}

.search-section {
    width: 100%;
    height: 50px;
    border-radius: 40px;
    background: $white;
    border: 1px solid $lightgray;
    margin-top: 220px;
    padding: 0 25px;

    .icomoon {
        font-size: $fsize + 5;
        color: $gray;
        margin-top: 12px;
        margin-right: 15px;
    }

    input {
        width: 90%;
        border: none;
        font-size: $fsize;

        &:focus {
            outline: none;
            border: none;
        }
    }
}

.faqlink {
    border: 1px solid $pcolor;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    color: $pcolor;
    margin-bottom: 15px;

    &:hover {
        background: $pcolor;
        color: $white;
    }

}

.helpbrlinks {
    a {
        color: $pcolor;
        font-size: $fsize - 2;

    }
}

.for-businessheader {
    background: radial-gradient(ellipse at right, #c2ccd3 0, #8f9da7 100%);
    height: 600px;
    color: #fff;
}

.communityguide-header {
    background-image: linear-gradient(0deg, #11c9e1 25%, #0798bf);
    height: 400x;
    color: #fff;
}

.policy-card {
    width: 300px;
    margin: 20px 10px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    padding: 30px 10px;
    border-radius: 4px;
    background-color: #f6f8fd;
    -webkit-box-shadow: 0 2px 4px 0 hsla(0, 0%, 83.9%, .5);
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 83.9%, .5);
    display: inline-block;
    color: $pcolor;

    .policy-container {
        margin: 0 auto;
        width: 280px;

        .policy-icon {
            width: 25%;
            padding: 3px 10px;
            vertical-align: top;
            text-align: center;

            .icomoon {
                font-size: $fsize * 2 + 5;
            }
        }

        .policy-desc {
            width: 70%;
            display: inline-block;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
}

.images-attachment {
    .item {
        position: relative;
        display: inline-block;

        .trashicomoon {
            background: red;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            position: absolute;
            right: 20px;
            top: 0;
            display: inline-block;
            text-align: center;
            line-height: 25px;

            .icomoon {
                color: $white;
            }
        }
    }
}


.file-input-name {
    display: none !important;
}

.ask-question {
    padding-bottom: 25px;

    .question-text-area {
        border-radius: 5px;
        border: 1px solid lighten($gray, 50%);
        margin-left: 20px;
        position: relative;
        padding: 8px;

        textarea {
            min-height: 50px;
            max-height: 150px;
            border: none;
            width: 100%;
            border-radius: 5px;
            overflow-y: hidden;

            &:focus {
                border: none;
                box-shadow: none;
                outline: none;
                overflow-y: auto;
            }
        }

        .question-bottomrow {
            position: relative;

            .qtn-bottom-rt {
                position: absolute;
                right: 10px;
                bottom: 5px;
            }

            .sendbtn {

                border: none;
                background: none;

                &:focus {
                    color: $pcolor;
                    outline: none;
                    border: none;
                }
            }

            .file-input-name {
                display: inline-block !important;
                background: $pcolor;
                padding: 3px;
                font-size: $fsize - 3;
                color: $white;
                cursor: pointer;

                &:before {
                    content: "\f00d";
                    font-family: 'icomoon' !important;
                    font-size: $fsize - 2;
                    color: $white;
                    background: $pcolor;
                    padding: 2px;

                }
            }

            .fileinput {
                bottom: -8px;
                left: 0;
                top: inherit;
                position: relative;

            }

            .image-upload {
                .fileinput {
                    width: 38px;
                    height: 38px;
                    line-height: 43px;
                    background: lighten($gray, 50%);

                    .icomoon {
                        color: $pcolor;
                        font-size: $fsize + 5;
                    }
                }
            }
        }
    }

}

.section-body {
    padding: 10px;

    .update-data {
        font-size: $fsize - 1;
        padding-bottom: 20px;

        .label {
            font-size: $fsize - 2;
            padding: 2px 0;
        }

        .status {
            width: 100%;
            background: $white;
            border-radius: 10px;
            border: 1px solid #eee;
            padding: 10px;
            cursor: pointer;

            &:hover {
                border: 1px solid #3b558b;
            }

            p {
                font-size: $fsize - 2;
            }

            .icomoon {
                color: lighten($gray, 45%);
                font-size: $fsize + 5;
                margin-right: 5px;
                margin-top: -1px;
            }

            .select {
                color: $green;
            }
        }

        .makeoffer-datashow {
            padding: 8px;
            display: none;
            @include shadowbot;
            background: $white;
        }
    }
}

.course-header{
    @include mob{
        .dropdown-menu{
            left:-100px;
        }
    }
}


.course-content{
    .cust-accord{
        .panel-title{
            background:$lightgray;
            padding-left:10px;
            padding-right:10px;
           
            a{
                font-size:$fsize;
            }
        }
    }
}

.videos-list{
    li{
        display:flex;
        justify-content: space-between;
        padding:15px 0;
        border-bottom:1px solid $lightgray;

        a{
            color:lighten($black, 30%);
            border:none;

            .icomoon{
                margin-right:10px;
            }
        }
    }
}

.feedbackrow{
    padding:25px 0;
    border-bottom:1px solid $lightgray;
}


.cart-item{
    margin:20px 0;
    figure{
        width:30%;
        margin-bottom:0;

        @include mob{
            width:100%;
        }

        img{
            width:100%;
        }
    }

    article{
        padding:15px;
        width:70%;
        @include mob{
            width:100%;
        }
        h4{
            font-size:$fsize + 2;

            a{
                color:$gray;
            }
        }
    }
}

.homeClients{
    background:$lightgray;
    padding:50px 0;
    @include shadowbot;
    margin-bottom:25px;

    .clientsleft{
        background:$gray;
        padding:25px;
        color:$white;
    }    
}

.clientsLogos{
    flex-wrap: wrap;
    li{
        width:18%;
        margin:3px;

        img{
            width:100%;
        }
    }
}

.test-item{
    @include transition;
    &:hover{
        @include shadowbot;
    }
}

.contact-footer{
    background:$white;
    padding:15px;
    margin:20px 0;
    display:flex;
    justify-content: space-between;
}

.coursenav{
    background:$white;   
    .active{
        .nav-link{
            text-decoration:underline;
        }
    }
}

.course-item{
    background:$white;
    padding:15px;
    border:1px solid $lightgray;
    margin-bottom:15px;

    .course-spans{
        span.badg{
            margin:0 3px;
            padding:2px 10px;
            display:inline-block;
        }
    }
    p{
        font-size:12px;
        color:$gray;
    }
}

.redbadge{
    background:#EB5757;
    color:$white;
    border-radius:15px;
}
.orbadge{
    background:#F2B04C;
    color:$white;
    border-radius:15px;
}
.bluebadge{
    background:#238CE7;
    color:$white;
    border-radius:15px;
    padding:2px 10px;
    display:inline-block;
}

.linktext {
    position: absolute;
    right: 20%;
    top: 20%;
}

.video-testimonil-link {
    background: $white;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    @include transition;
    line-height: 50px;
    animation: icon-scaleout 1.5s infinite ease-in;

    a {
        width: 49px;
        height: 49px;
        background: $white;
        display: block;
        border-radius: 50%;
        @include transition;

        &:hover {
            background: $gray;

            .icomoon {
                color: $white;
            }
        }
    }




    &:before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: -17px;
        left: -17px;
        width: 84px;
        height: 84px;
        border-radius: 50%;
        opacity: 0.9;
        background: lighten($black, 80%);
        animation: icon-scaleout 1.5s infinite ease-in;
    }

    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: -7px;
        left: -7px;
        width: 63px;
        height: 63px;
        border-radius: 50%;
        opacity: 0.6;
        background: lighten($black, 65%);
        animation: icon-scaleout 1.5s infinite ease-in;
    }

    .icomoon {
        font-size: $fsize + 5;
        color: $gray;
        padding-left: 5px;
        top: 2px;
        position: relative;
    }
}

@keyframes icon-scaleout {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.04);
    }

    100% {
        transform: scale(1);
    }
}

//right videos ends

.video-modal {
    .modal-body {
        padding: 0;

        .modalvideo {
            height: 400px;
        }
    }

    .close {
        span {
            font-size: $fsize * 3;
        }
    }

}

.feat{
    background:$white;
    border-radius:4px;
    height:400px;
    overflow-y:scroll;
    color:$gray;
    width:100%;
}

.MCSHead {
    position: sticky;
    top: 0;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,.08);
    padding: 5px 15px;

    .MCSHead-heading{
    margin: 0;
    font-weight: 600;
    line-height: 30px;
    font-size: 16px;
    color:$gray!important;
    padding:0;
    }
}

.MCSDetails li ul li{
    list-style: none;
    cursor: auto;
    line-height: 25px;
    background: #fff;
    padding: 5px 15px;
    box-shadow: inset 0 1px 0 #fff, inset 0 -1px 0 #f2f2f2;
}

.MCSDetails li ul li:hover {
    cursor: pointer;
    background: #efefef75;   
}

#page-top{
    header{
        padding-top:0;
    }
}

#mainNav{
    @include shadowbot;
    .nav-link{
        color:$gray;

        &:hover{
            color:$scolor;
        }

        @include mob{
            color:$white;
        }
    }
}

.scrollSection{
    padding:35px 0;
    min-height:150px!important;

    .cust-accord {
        .panel-title {
            a{
                font-size:$fsize;
                font-weight:normal;
                border-top:1px solid $lightgray;
            }
        }
    }

    .horitems{
        li{
            margin:20px 0 0 0;
            
            font-size:$fsize - 1;

            .icomoon{
                font-size:$fsize + 7;
                margin-right:10px;
                position:relative;
                top:3px;
            }
        }
    }  

    .whitebox{
        margin-bottom:20px;
    }

    .small-item{
        li{
            padding-right:15px;
        }
    }
}

.class-timetable.checked, .class-timetable:hover{
    position: relative;
    z-index: 1;
    border: 1px solid orange;
}
.class-timetable {
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    position: relative;
    margin-bottom: -1px;
}
.class-timetable input[type=radio]{
    position: absolute;
    left: 0;
    width: 100%;
    height: 40px;
    visibility: hidden;
    cursor: pointer;
    top: 0;
}
.class-timetable ul{
    display: table;
    width: 100%;
}
.class-timetable ul li{
    display: table-cell;
    vertical-align: middle;
    padding:6px;
}

.bg-section{
    background:$lightgray;
}
.class-timetable.online-classroom-product.checked .checked-icon {
    background-color: orange;
    border: 2px solid #fff;
}
li span.checked-icon {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 2px;
    left: -1px;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid orange;
    box-shadow: 0 0 2px orange;
}
.ONOptiopdate {
    width: 54px;
    display: block;
}
.ONOptiopday {
    display: block;
    line-height: 14px;
    width: 80px;
}
.class-timetable ul li:nth-child(2) {
    border-right: 2px solid #ddd;
}

.video-testimonials{
    margin-bottom:25px;
}


.video-test{    
    .icomoon{
        color:$white;
        top:45%;
        left:45%;
        @include shadowbot;
        font-size:$fsize * 2;
    }
}

.text-testimonials{  
    .slide{
        padding:0 25px;
        margin:0 5px;
        background:$white;
        border:1px solid $lightgray;
    }
}

.subpage{
    .course-header{
        background:linear-gradient(89.72deg,#8360C3 0.09%,#2EBF91 99.92%);
        color:$white;
    }
    .breadcrumb-item+.breadcrumb-item::before{
        color:$white;
    }    
    .breadcrumb{
        .active{
            color:$white!important;
            border-bottom:1px solid $white!important;
        }
    }    
}

.mobileProfile{
    padding:25px 0 10px 0;
    cursor: pointer;
    display:none;
    border-bottom: 1px solid lighten($gray, 50%);

    @include mob{
        display:flex;
    }
}

.wsmenu>.wsmenu-list>li>.wsshoptabing.wtsdepartmentmenu{
    @include shadowbot;
}


.login-main{
    display:flex;
    height:100vh;
  
    .leftimg{
      width:75%;

      img{
          height:100vh;
          @include object-fit-cover;
          width:100%;
      }     
    }
    .right-login{
        padding:25px;
        width:25%;
        box-sizing: border-box;
    }
  }
  






// sub page ends 

//mobile
@include mob {
    .navbar-collapse {
        background: $pcolor;
        padding: 15px;
    }
}

//mobile ends 